<div class='container'>
<h1>Your Reading List</h1>
<ul>
  <li> Books </li>
</ul>

 <div class='row'>
    <div class='col-sm-12'>
      <p>
        <form>
          <legend>Search</legend>
          <div class='col-xs-4'>
            <input type='text' class='form-control' value='<%= params[:keyword] %>' name='keyword' placeholder='Keyword' >
          </div>
        </form>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-8">
      <ul class="list-unstyled book-list">

        <%= render @books %>

      </ul>
    </div>
    <div class="col-sm-4">

    </div>
  </div>
</div>

<br>

<%= link_to 'New Book', new_book_path %>
